"*":
  "atom-beautify":
    general:
      showLoadingView: false
  core:
    automaticallyUpdate: false
    closeEmptyWindows: false
    disabledPackages: [
      "archive-view"
      "exception-reporting"
      "language-clojure"
      "language-make"
      "language-perl"
      "language-objective-c"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
    ]
    telemetryConsent: "no"
  editor:
    invisibles:
      eol: " "
    showInvisibles: true
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    useBusySignal: false
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    adjustMinimapWidthToSoftWrap: false
    devicePixelRatioRounding: false
    displayPluginsControls: false
    minimapScrollIndicator: false
    smoothScrolling: false
  welcome:
    showOnStartup: false
