"*":
  "atom-package-deps":
    ignored: [
      "linter-ui-default"
    ]
  core:
    autoHideMenuBar: true
    closeEmptyWindows: false
    disabledPackages: [
      "archive-view"
      "exception-reporting"
      "language-c"
      "language-clojure"
      "language-csharp"
      "language-java"
      "language-javascript"
      "language-make"
      "language-perl"
      "language-objective-c"
      "link"
      "metrics"
      "open-on-github"
      "package-generator"
      "styleguide"
      "update-package-dependencies"
    ]
    packagesWithKeymapsDisabled: [
      "atom-terminal"
    ]
    telemetryConsent: "no"
  editor:
    invisibles:
      cr: " "
      eol: " "
    preferredLineLength: 100
    showInvisibles: true
  "goto-definition":
    contextMenuDisplayAtFirst: false
  linter:
    lintPreviewTabs: false
  "linter-ui-default":
    useBusySignal: false
  minimap:
    adjustMinimapWidthOnlyIfSmaller: false
    adjustMinimapWidthToSoftWrap: false
    devicePixelRatioRounding: false
    displayPluginsControls: false
    minimapScrollIndicator: false
    smoothScrolling: false
  "prettier-atom":
    prettierOptions:
      printWidth: 100
      semi: false
      singleQuote: true
    useEditorConfig: false
  welcome:
    showOnStartup: false
